## Codebook

**Authors**: Erica Wo

Documenting existing data files of DaanMatch with information about location, owner, "version", source etc.

In [31]:
import pandas as pd
import numpy as np
import boto3
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import io

In [5]:
client = boto3.client('s3')
resource = boto3.resource('s3')
my_bucket = resource.Bucket('daanmatchdatafiles')

path = 's3://daanmatchdatafiles/from Shekhar/Final_Data_Globalgiving.org.xlsx'
obj = client.get_object(Bucket='daanmatchdatafiles', Key='from Shekhar/Final_Data_Globalgiving.org.xlsx')
df = pd.read_excel(io.BytesIO(obj['Body'].read()))

# Final_Data_Globalgiving.org.xlsx

## TOC:

In [6]:
# Lists out the column names in TOC format
def toc_maker(dataset):
    counter = 1
    for column in dataset.columns:
        print("* ["+column+"](4."+str(counter)+")")
        counter +=1

In [4]:
#toc_maker(Final_Data_ngodarpan)

**About this dataset** <br>
Data provided by: Unknown <br>
Source:  <br>
Type: xlsx <br>
Last Modified:  <br>
Size:  <br>

In [8]:
#Read into file
df.head()

,Url,Name,NGO Name,Collected,Target,Donations,Description,Challenge,Solution,Long-Term Impact,Location,Website,Facebook,Twitter
0,https://www.globalgiving.org/projects/provide-...,Provide Gift & food to 700 Street Children,Rajasthan Samgrah Kalyan Sansthan,"$41,594","$56,000",912.0,"Under this project, 700 street & poor slum chi...",The future of poor children in India living al...,"Under this project, the festival will provide ...",RSKS project ''Provide Gift and food to poor c...,"Ajmer, India, Rajasthan - India",http://www.rsksindia.ngo,https://www.facebook.com/rsksindia,https://twitter.com/RSKSINDIA
1,https://www.globalgiving.org/projects/educatio...,Send a Child in India to School for a Year,Seva Mandir,"$504,231","$525,000",9516.0,Seva Mandir's primary schools provide children...,Access to education in these areas is limited ...,Seva Mandir runs primary schools catering to c...,Enabling children to read and write independen...,"Udaipur, Rajasthan - India",http://www.sevamandir.org,https://www.facebook.com/sevamandir,https://twitter.com/sevamandir
2,https://www.globalgiving.org/projects/kids-in-...,You Can Give Kids in India Clean Water,Splash,"$230,918","$300,000",9050.0,The unrelenting vision of Splash is to bring c...,"Kolkata's water, sanitation, and hygiene condi...",Splash has developed a holistic WASH intervent...,Your support will: reduce illness and days of ...,"Seattle, WA - USA",http://www.splash.org,https://www.facebook.com/splashglobal,https://twitter.com/Splash_org
3,https://www.globalgiving.org/projects/help-for...,"Rescue,Love,Save-1000's of Suffering Animals.I...",Arunachala Animal Sanctuary & Rescue Shelter,"$248,728","$500,000",4478.0,Known as the SHELTER WITH HEART. Our dogs/pupp...,WHEN WE FIRST OPENED JANUARY 2007 there were o...,"LOVE, LOVE, AND MORE LOVE...7 major programs: ...",REPEATING: THE MOST IMPORTANT THING THAT HAS H...,"Tiruvannamalai, Tamil Nadu - India",http://arunachalaanimalsanctuary.com/,https://www.facebook.com/arunachalaanimalsanct...,NaN
4,https://www.globalgiving.org/projects/stop-vio...,Stop Violence Against Women's in India,Rajasthan Samgrah Kalyan Sansthan,"$61,820","$70,000",1045.0,"27,933 cases Approx of violence against women ...",More than 40 complaints a day of violence agai...,Legal assistance will be provided to the victi...,"The victims of Domestic violence, exploitation...","Ajmer, India, Rajasthan - India",http://www.rsksindia.ngo,https://www.facebook.com/rsksindia,https://twitter.com/RSKSINDIA

**What's in this dataset?**

In [9]:
print("Shape:", df.shape)
print("Rows:", df.shape[0])
print("Columns:", df.shape[1])
print("Each row is a NGO.")

Shape: (695, 14)
Rows: 695
Columns: 14
Each row is a NGO.

**Codebook**

In [15]:
dataset_columns = [column for column in df.columns]
dataset_desc = ["URL of NGO",
               "Name",
               "NGO Name",
               "Money collected",
               "Target collection",
               "Donations",
               "Description of NGO",
               "Challenges NGO is targeting",
               "Solution NGO is providing",
               "Long-term impact of NGO",
               "Location of NGO",
               "NGO Website Link",
               "NGO Facebook Link",
               "NGO Twitter Link"]
dataset_dtypes = [dtype for dtype in df.dtypes]

data = {"Column Name": dataset_columns, "Description": dataset_desc, "Type": dataset_dtypes}
codebook = pd.DataFrame(data)
codebook

         Column Name                  Description     Type
0                Url                   URL of NGO   object
1               Name                         Name   object
2           NGO Name                     NGO Name   object
3          Collected              Money collected   object
4             Target            Target collection   object
5          Donations                    Donations  float64
6        Description           Description of NGO   object
7          Challenge  Challenges NGO is targeting   object
8           Solution    Solution NGO is providing   object
9   Long-Term Impact      Long-term impact of NGO   object
10          Location              Location of NGO   object
11           Website             NGO Website Link   object
12          Facebook            NGO Facebook Link   object
13           Twitter             NGO Twitter Link   object

**Missing Values**

In [16]:
df.isnull().sum()

Url                   0
Name                  0
NGO Name              0
Collected             1
Target                1
Donations             1
Description           0
Challenge             0
Solution              0
Long-Term Impact      0
Location              0
Website              12
Facebook            205
Twitter             373
dtype: int64

**Summary Statistics**

In [17]:
df.describe()

         Donations
count   694.000000
mean    218.425072
std     631.609805
min       0.000000
25%       8.000000
50%      59.000000
75%     193.750000
max    9516.000000

## Columns

### Url

In [29]:
df['Url'].head()

0    https://www.globalgiving.org/projects/provide-...
1    https://www.globalgiving.org/projects/educatio...
2    https://www.globalgiving.org/projects/kids-in-...
3    https://www.globalgiving.org/projects/help-for...
4    https://www.globalgiving.org/projects/stop-vio...
Name: Url, dtype: object

Many, if not all, URLs are not functional anymore.

In [32]:
url = df['Url']
# Number of empty strings/missing values
print("Invalid:", sum(url == " ") + sum(url.isnull()))

print("No. of unique values:", len(url.unique()))

# Check for duplicates
counter = dict(Counter(url))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
print("No. of Duplicates:", len(duplicates))

table = pd.DataFrame.from_dict(duplicates)
table = table.melt(var_name="Duplicate URLs", value_name="Count").sort_values(by=["Count"], ascending=False).reset_index(drop=True)
table

Invalid: 0
No. of unique values: 695
No. of Duplicates: 0

Empty DataFrame
Columns: [Duplicate URLs, Count]
Index: []

### Name

In [35]:
url = df['Name']
# Number of empty strings/missing values
print("Invalid:", sum(url == " ") + sum(url.isnull()))

print("No. of unique values:", len(url.unique()))

# Check for duplicates
counter = dict(Counter(url))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
print("No. of Duplicates:", len(duplicates))

table = pd.DataFrame.from_dict(duplicates)
table = table.melt(var_name="Duplicate Names", value_name="Count").sort_values(by=["Count"], ascending=False).reset_index(drop=True)
table

Invalid: 0
No. of unique values: 695
No. of Duplicates: 0

Empty DataFrame
Columns: [Duplicate Names, Count]
Index: []

### NGO Name

In [36]:
url = df['NGO Name']
# Number of empty strings/missing values
print("Invalid:", sum(url == " ") + sum(url.isnull()))

print("No. of unique values:", len(url.unique()))

# Check for duplicates
counter = dict(Counter(url))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
print("No. of Duplicates:", len(duplicates))

table = pd.DataFrame.from_dict(duplicates)
table = table.melt(var_name="Duplicate NGO Names", value_name="Count").sort_values(by=["Count"], ascending=False).reset_index(drop=True)
table

Invalid: 0
No. of unique values: 337
No. of Duplicates: 161

                                   Duplicate NGO Names  Count
0    Sai Educational Rural & Urban Development Soci...     14
1                     Indian Association for the Blind     12
2    ROSI foundation(Rural organising for social im...     12
3                    Balajothi Centre for the Disabled     11
4                    Rajasthan Samgrah Kalyan Sansthan      9
5                                         Karuna Trust      9
6    Health Education Adoption Rehabilitation Devel...      9
7    Community Health, Housing and Social Education...      8
8                                          Seva Mandir      8
9                                     Gram Vikas Trust      7
10                             Save The Children India      7
11                          Priyadarshini Seva Mandali      7
12                                        Sabuj Sangha      6
13                  Trivandrum Don Bosco Veedu Society      6
14   Foundation for Initiatives in Development and ...      6
15                                     WOMEN FOR WOMEN      6
16                      Ahmedabad Women's Action Group      5
17                                               GOONJ      5
18                             Wildlife Trust of India      5
19                            Snehalaya 'Home of Love'      5
20                                         VOICE Trust      5
21                                             Sukarya      5
22                  Prime Educational and Social Trust      5
23                                       Sugam Jagriti      5
24                                Child Rights and You      4
25            BARNAMALA EDUCATIONAL & CULTURAL SOCIETY      4
26                            Jivdaya Charitable Trust      4
27                                      India Partners      4
28                                         Tigers4Ever      4
29                                     HOPE foundation      4
..                                                 ...    ...
131                             Vacha Charitable Trust      2
132                                  RESCUE FOUNDATION      2
133             The Good Shepherd Agricultural Mission      2
134                                      Reaching Hand      2
135                                       Maitri India      2
136                           Dharamsala Animal Rescue      2
137                                  The YP Foundation      2
138                                               CREA      2
139                           Friends of Tilonia, Inc.      2
140                    Buds of Christ Charitable Trust      2
141                                   Muni Seva Ashram      2
142                      Divya Jyothi Charitable Trust      2
143                        chhattisgarh Agricon Samiti      2
144  Society for Peoples Health Education And Econo...      2
145                                             Shivia      2
146                                     Literacy India      2
147         The Mahindra United World College of India      2
148                                   Amar Seva Sangam      2
149                               Aashwasan Foundation      2
150                                               AMBA      2
151                                   Kalanjiyam Trust      2
152                                       Mitra Jyothi      2
153               INDIAN WOMEN AND CHILD WELFARE TRUST      2
154                   One Billion Literates Foundation      2
155                                            SUKRUPA      2
156                                     Karuna-Shechen      2
157                          Nav Bharat Jagriti Kendra      2
158                            MOB Rural Health Centre      2
159                         Sahaara Charitable Society      2
160                          Learning Links Foundation      2

[161 rows x 2 columns]

In [39]:
df[df['NGO Name'] == 'Indian Association for the Blind']

,Url,Name,NGO Name,Collected,Target,Donations,Description,Challenge,Solution,Long-Term Impact,Location,Website,Facebook,Twitter
175,https://www.globalgiving.org/projects/braille-...,Braille books for 4000 visually challenged kids,Indian Association for the Blind,"$8,666","$20,000",116.0,This project provides Braille books for 4000 v...,The major problem faced by the visually challe...,This project solves the issues involved by get...,"Through this project, we aim to benefit more t...","Madurai, Tamil Nadu - India",http://www.theiab.org,https://www.facebook.com/INDIAN.ASSOCIATION.FO...,NaN
187,https://www.globalgiving.org/projects/educate-...,Educate a visually challenged child for one year,Indian Association for the Blind,"$17,033","$20,000",252.0,Indian Association for the Blind (IAB) is a no...,The visually challenged children in rural area...,This project will help solve the problems of l...,The main issue here is that of not having acce...,"Madurai, Tamil Nadu - India",http://www.theiab.org,https://www.facebook.com/INDIAN.ASSOCIATION.FO...,NaN
213,https://www.globalgiving.org/projects/healthy-...,Healthy food for 300 visually challenged children,Indian Association for the Blind,"$15,072","$99,000",246.0,This project helps provide nutritious food to ...,Most of the visually challenged children are f...,This project benefits 300 visually challenged ...,This project will be very useful to all our vi...,"Madurai, Tamil Nadu - India",http://www.theiab.org,https://www.facebook.com/INDIAN.ASSOCIATION.FO...,NaN
263,https://www.globalgiving.org/projects/sponsor-...,Sponsor school uniforms for visually challenged,Indian Association for the Blind,"$3,891","$6,200",33.0,This project helps provide new uniforms and ne...,These young visually challenged children are f...,The donations we receive through this project ...,"By way of one basic need being fulfilled, they...","Madurai, Tamil Nadu - India",http://www.theiab.org,https://www.facebook.com/INDIAN.ASSOCIATION.FO...,NaN
286,https://www.globalgiving.org/projects/help-a-v...,Help a VisuallyChallenged to secure Master'sDe...,Indian Association for the Blind,"$1,173","$5,000",167.0,This project will help a visually challenged p...,When only 5 % out of the four lakh children re...,Your support can help a visually impaired earn...,IAB provides education to a student from Grade...,"Madurai, Tamil Nadu - India",http://www.theiab.org,https://www.facebook.com/INDIAN.ASSOCIATION.FO...,NaN
294,https://www.globalgiving.org/projects/assistiv...,Assistive devices for 200 visually challenged ...,Indian Association for the Blind,"$1,872","$10,000",33.0,This project will help provide assistive devic...,These visually challenged students are from ru...,"Through this project, we will be able to provi...",By way of receiving these devices and masterin...,"Madurai, Tamil Nadu - India",http://www.theiab.org,https://www.facebook.com/INDIAN.ASSOCIATION.FO...,NaN
397,https://www.globalgiving.org/projects/provide-...,Help the Visually Challenged Celebrate Diwali,Indian Association for the Blind,$797,"$6,000",9.0,This project hopes to provide new dresses and ...,Diwali is also called the 'Festival of Lights'...,The contributions from your side will certainl...,This project fulfills the motive of spreading ...,"Madurai, Tamil Nadu - India",http://www.theiab.org,https://www.facebook.com/INDIAN.ASSOCIATION.FO...,NaN
464,https://www.globalgiving.org/projects/support-...,Support Old Age For Better Living,Indian Association for the Blind,$311,"$2,570",4.0,IAB has been working for 34 + years in empower...,Majority of the visually challenged old age pe...,Understanding the current situation of these p...,Nearly 50 families are getting benefitted from...,"Madurai, Tamil Nadu - India",http://www.theiab.org,https://www.facebook.com/INDIAN.ASSOCIATION.FO...,NaN
468,https://www.globalgiving.org/projects/provide-...,Provide bedding for 300 visually challenged kids,Indian Association for the Blind,"$2,989","$7,000",23.0,This project will help provide new bedding to ...,These 300 children are from rural areas. Most ...,"Through this project, we aim to provide new be...","Having new, clean, good quality bedding will h...","Madurai, Tamil Nadu - India",http://www.theiab.org,https://www.facebook.com/INDIAN.ASSOCIATION.FO...,NaN
502,https://www.globalgiving.org/projects/support-...,Support Old Age with Food Groceries,Indian Association for the Blind,$129,"$2,570",3.0,IAB has been working for 34 + years in empower...,Majority of the visually challenged old age pe...,Understanding the current situation of these p...,Nearly 50 families are getting benefitted from...,"Madurai, Tamil Nadu - India",http://www.theiab.org,https://www.facebook.com/INDIAN.ASSOCIATION.FO...,NaN
630,https://www.globalgiving.org/projects/training...,Food & Accommodation for young VI Entrepreneurs,Indian Association for the Blind,$0,"$10,285",0.0,IAB has been working for 34 + years in empower...,Majority of the visually challenged youths are...,"This year, IAB has expanded its network to oth...",Nearly 10 visually impaired youth and their fa...,"Madurai, Tamil Nadu - India",http://www.theiab.org,https://www.facebook.com/INDIAN.ASSOCIATION.FO...,NaN
673,https://www.globalgiving.org/projects/training...,Training and Sales Kit for young VI Entrepreneurs,Indian Association for the Blind,$0,"$5,900",0.0,IAB has been working for 34 + years in empower...,Majority of the visually challenged youths are...,"This year, IAB has expanded its network to oth...",Nearly 15 visually impaired youth and their fa...,"Madurai, Tamil Nadu - India",http://www.theiab.org,https://www.facebook.com/INDIAN.ASSOCIATION.FO...,NaN

Duplicate NGO Names do not indicate duplicate rows

### Collected

In [40]:
url = df['Collected']
# Number of empty strings/missing values
print("Invalid:", sum(url == " ") + sum(url.isnull()))

print("No. of unique values:", len(url.unique()))

# Check for duplicates
counter = dict(Counter(url))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
print("No. of Duplicates:", len(duplicates))

table = pd.DataFrame.from_dict(duplicates)
table = table.melt(var_name="Duplicate Collection", value_name="Count").sort_values(by=["Count"], ascending=False).reset_index(drop=True)
table

Invalid: 1
No. of unique values: 614
No. of Duplicates: 24

   Duplicate Collection  Count
0                    $0     39
1                   $20      9
2                   $50      6
3                   $25      6
4                   $10      4
5                   $90      4
6                   $40      3
7                $2,750      2
8                  $550      2
9                  $210      2
10                 $500      2
11                 $100      2
12                  $45      2
13                 $125      2
14                  $75      2
15                  $55      2
16                  $65      2
17                 $791      2
18                 $110      2
19                  $70      2
20                 $101      2
21               $1,665      2
22                 $220      2
23                 $200      2

In [42]:
# graph ?

### Target

In [45]:
url = df['Target']
# Number of empty strings/missing values
print("Invalid:", sum(url == " ") + sum(url.isnull()))

print("No. of unique values:", len(url.unique()))

# Check for duplicates
counter = dict(Counter(url))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
print("No. of Duplicates:", len(duplicates))

table = pd.DataFrame.from_dict(duplicates)
table = table.melt(var_name="Duplicate Targets", value_name="Count").sort_values(by=["Count"], ascending=False).reset_index(drop=True)
table

Invalid: 1
No. of unique values: 237
No. of Duplicates: 61

   Duplicate Targets  Count
0            $10,000     52
1            $50,000     49
2            $20,000     38
3            $25,000     37
4            $15,000     33
5             $5,000     26
6            $30,000     23
7            $35,000     22
8            $40,000     16
9            $75,000     13
10           $45,000     11
11           $60,000     11
12           $80,000     11
13          $100,000      9
14           $90,000      9
15            $1,000      9
16           $99,000      7
17            $7,500      6
18          $250,000      6
19            $3,000      6
20           $95,000      6
21          $150,000      6
22           $11,000      5
23           $48,000      5
24           $70,000      5
25            $6,000      5
26            $2,000      4
27            $7,000      4
28           $18,000      4
29           $12,000      4
..               ...    ...
31           $74,000      3
32           $65,000      3
33            $8,000      3
34           $22,000      3
35            $2,500      3
36          $300,000      3
37           $42,000      3
38            $9,000      3
39          $120,000      3
40           $27,000      3
41           $38,000      3
42           $98,000      3
43           $32,000      3
44          $200,000      2
45              $750      2
46            $2,570      2
47          $275,000      2
48           $66,000      2
49           $26,000      2
50           $33,500      2
51           $19,800      2
52          $350,000      2
53            $5,500      2
54           $16,665      2
55           $37,500      2
56          $500,000      2
57           $24,000      2
58           $14,000      2
59           $55,000      2
60              $390      2

[61 rows x 2 columns]

### Donations

In [49]:
col = df['Donations']
# Number of empty strings/missing values
print("Invalid:", sum(col.isnull()))

print("No. of unique values:", len(col.unique()))

# Check for duplicates
counter = dict(Counter(col))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
print("No. of Duplicates:", len(duplicates))

table = pd.DataFrame.from_dict(duplicates)
table = table.melt(var_name="Duplicate Donations", value_name="Count").sort_values(by=["Count"], ascending=False).reset_index(drop=True)
table

Invalid: 1
No. of unique values: 307
No. of Duplicates: 120

     Duplicate Donations  Count
0                    0.0     39
1                    1.0     36
2                    2.0     25
3                    4.0     24
4                    3.0     20
5                    9.0     12
6                   11.0     12
7                    8.0      9
8                    7.0      9
9                    5.0      8
10                  19.0      7
11                  38.0      6
12                  10.0      6
13                  52.0      6
14                  75.0      6
15                   6.0      6
16                  68.0      5
17                  13.0      5
18                  66.0      5
19                  21.0      5
20                  28.0      5
21                 142.0      5
22                  62.0      5
23                  12.0      5
24                  20.0      5
25                  48.0      4
26                  30.0      4
27                  16.0      4
28                  15.0      4
29                  25.0      4
..                   ...    ...
90                 394.0      2
91                 699.0      2
92                 450.0      2
93                 301.0      2
94                 463.0      2
95                 281.0      2
96                 311.0      2
97                  78.0      2
98                 116.0      2
99                  90.0      2
100                 94.0      2
101                 63.0      2
102                220.0      2
103                 86.0      2
104                 35.0      2
105                 43.0      2
106                597.0      2
107                 87.0      2
108                 49.0      2
109                 92.0      2
110                108.0      2
111                 65.0      2
112                 60.0      2
113                 64.0      2
114                 95.0      2
115                 53.0      2
116                110.0      2
117                356.0      2
118                109.0      2
119                 34.0      2

[120 rows x 2 columns]

In [52]:
max(df['Donations'])

9516.0

### Description

In [54]:
col = df['Description']
# Number of empty strings/missing values
print("Invalid:", sum(col == " ") + sum(col.isnull()))

print("No. of unique values:", len(col.unique()))

# Check for duplicates
counter = dict(Counter(col))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
print("No. of Duplicates:", len(duplicates))

table = pd.DataFrame.from_dict(duplicates)
table = table.melt(var_name="Duplicate NGO Names", value_name="Count").sort_values(by=["Count"], ascending=False).reset_index(drop=True)
table

Invalid: 0
No. of unique values: 692
No. of Duplicates: 3

                                 Duplicate NGO Names  Count
0  This micro project provides quality education ...      2
1  Thalassemia is an inherited blood disorder in ...      2
2  IAB has been working for 34 + years in empower...      2

### Challenge

In [55]:
col = df['Challenge']
# Number of empty strings/missing values
print("Invalid:", sum(col == " ") + sum(col.isnull()))

print("No. of unique values:", len(col.unique()))

# Check for duplicates
counter = dict(Counter(col))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
print("No. of Duplicates:", len(duplicates))

table = pd.DataFrame.from_dict(duplicates)
table = table.melt(var_name="Duplicate NGO Names", value_name="Count").sort_values(by=["Count"], ascending=False).reset_index(drop=True)
table

Invalid: 0
No. of unique values: 684
No. of Duplicates: 11

                                  Duplicate NGO Names  Count
0   While enrollment in government schools in Indi...      2
1   The world's wild tigers & their forest habitat...      2
2   India is facing crisis in its educational sect...      2
3   Many of the cleft children coming to us, are f...      2
4   Every year Hundreds of Youths fall victim to S...      2
5   Education in Sawai Madhopur, Rajasthan faces s...      2
6   Underprivileged communities exist in a vicious...      2
7   The traditional approach of lecture and note t...      2
8   Girl Child belongs to poor family background. ...      2
9   The major challenge is to arrange blood for th...      2
10  The locality is not supported any medical faci...      2

### Solution

In [56]:
col = df['Solution']
# Number of empty strings/missing values
print("Invalid:", sum(col == " ") + sum(col.isnull()))

print("No. of unique values:", len(col.unique()))

# Check for duplicates
counter = dict(Counter(col))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
print("No. of Duplicates:", len(duplicates))

table = pd.DataFrame.from_dict(duplicates)
table = table.melt(var_name="Duplicate NGO Names", value_name="Count").sort_values(by=["Count"], ascending=False).reset_index(drop=True)
table

Invalid: 0
No. of unique values: 687
No. of Duplicates: 8

                                 Duplicate NGO Names  Count
0  Training, exposure and demonstrations will giv...      2
1  By providing anti-poaching patrols in the buff...      2
2  Teach For India's mission is to build a moveme...      2
3  Mission Smile provides free surgery and care t...      2
4  AMBA has derived an alternate educative system...      2
5  This project solves the problem by giving coun...      2
6  To over come these issues first our organizati...      2
7  This project will help the under privileged pe...      2

### Long-Term Impact

In [57]:
col = df['Long-Term Impact']
# Number of empty strings/missing values
print("Invalid:", sum(col == " ") + sum(col.isnull()))

print("No. of unique values:", len(col.unique()))

# Check for duplicates
counter = dict(Counter(col))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
print("No. of Duplicates:", len(duplicates))

table = pd.DataFrame.from_dict(duplicates)
table = table.melt(var_name="Duplicate NGO Names", value_name="Count").sort_values(by=["Count"], ascending=False).reset_index(drop=True)
table

Invalid: 0
No. of unique values: 677
No. of Duplicates: 14

                                  Duplicate NGO Names  Count
0   The project will provide an excellent educatio...      3
1   It is the aim of the trust to engage with the ...      3
2   As the children are educated they become aware...      3
3   The home will provide a good belief and provis...      3
4   This program will stop the starvation among de...      2
5   U&I gives the children the skills and motivati...      2
6   The farmers will be able to meet the needs of ...      2
7   In the long run, the program aims to create a ...      2
8   OBLF's Vision 2020 is to create a model by ado...      2
9   The immediate change is what we see in the chi...      2
10  Reproductive health services can make a positi...      2
11  Malnutrition is definitely phased out and hung...      2
12  Nearly 50 families are getting benefitted from...      2
13  This project has potential & impact full in ma...      2

### Location

In [58]:
col = df['Location']
# Number of empty strings/missing values
print("Invalid:", sum(col == " ") + sum(col.isnull()))

print("No. of unique values:", len(col.unique()))

# Check for duplicates
counter = dict(Counter(col))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
print("No. of Duplicates:", len(duplicates))

table = pd.DataFrame.from_dict(duplicates)
table = table.melt(var_name="Duplicate NGO Names", value_name="Count").sort_values(by=["Count"], ascending=False).reset_index(drop=True)
table

Invalid: 0
No. of unique values: 219
No. of Duplicates: 120

                        Duplicate NGO Names  Count
0              Bangalore, Karnataka - India     56
1               Mumbai, Maharashtra - India     31
2                  New Delhi, Delhi - India     25
3               Madurai, Tamil Nadu - India     14
4                 Pune, Maharashtra - India     14
5           KURNOOL, ANDHRA PRADESH - India     14
6                           Kolkata - India     13
7           Pudukkottai, Tamil Nadu - India     12
8                Ahmedabad, Gujarat - India     12
9                         New Delhi - India     11
10              Chennai, Tamil Nadu - India     10
11             Hyderabad, Telangana - India     10
12         Chittoor, Andhra Pradesh - India      9
13                           Mumbai - India      9
14          Ajmer, India, Rajasthan - India      9
15         London, England - United Kingdom      9
16               Udaipur, Rajasthan - India      8
17             Noida, Uttar Pradesh - India      8
18   Tiruvallur District, Tamilnadu - India      8
19              Bhubaneswar, Orissa - India      7
20          Khammam, Andhra Pradesh - India      7
21                 Bharuch, Gujarat - India      7
22                 Gurgaon, Haryana - India      7
23                  London - United Kingdom      7
24                        Ahmedabad - India      6
25         KANNAMANGALAM, TAMILNADU - India      6
26               Trivandrum, Kerala - India      6
27                        Bangalore - India      5
28        Tiruchirpalli, Tamil Nadu - India      5
29            Dist.- Nalanda, Bihar - India      5
..                                      ...    ...
90         DIST.- KALAHANDI, ODISHA - India      2
91                          Karkala - India      2
92                 Rayagada, Odisha - India      2
93            Hazaribagh, Jharkhand - India      2
94             BANGALORE, KARNATAKA - India      2
95                      Navi Mumbai - India      2
96                North Kingstown, RI - USA      2
97      Dist Champawat, Uttarakhand - India      2
98                 Dearborn, Michigan - USA      2
99                 Thrissur, Kerala - India      2
100              Ernakulum District - India      2
101            Kolkata, West Bengal - India      2
102                     Gaya, Bihar - India      2
103                       Bedford, MA - USA      2
104            East Sussex - United Kingdom      2
105    Namakkal District, Tamilnadu - India      2
106                    Patna, Bihar - India      2
107        Navi Mumbai, Maharashtra - India      2
108               Mandya, Karnataka - India      2
109                   Kew Gardens, NY - USA      2
110                  Tiruvannamalai - India      2
111             Ayikudy, Tamil Nadu - India      2
112       Tiruvannamalai, Tamilnadu - India      2
113                          raipur - India      2
114               Mysore, Karnataka - India      2
115                Kottayam, Kerala - India      2
116                Kashipur, Orissa - India      2
117                      Glendale, CA - USA      2
118               Kishanganj, Bihar - India      2
119                          GHULAI - India      2

[120 rows x 2 columns]

### Website

In [59]:
col = df['Website']
# Number of empty strings/missing values
print("Invalid:", sum(col == " ") + sum(col.isnull()))

print("No. of unique values:", len(col.unique()))

# Check for duplicates
counter = dict(Counter(col))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
print("No. of Duplicates:", len(duplicates))

table = pd.DataFrame.from_dict(duplicates)
table = table.melt(var_name="Duplicate NGO Names", value_name="Count").sort_values(by=["Count"], ascending=False).reset_index(drop=True)
table

Invalid: 12
No. of unique values: 332
No. of Duplicates: 156

                        Duplicate NGO Names  Count
0                http://www.serudsindia.org     14
1                     http://www.theiab.org     12
2                                       NaN     12
3              http://www.rosifoundation.in     12
4                  http://www.balajothi.org     11
5                  http://www.rsksindia.ngo      9
6                    http://www.karuna.org/      9
7                     http://www.heards.org      9
8               http://www.chhaseindia.org/      8
9                 http://www.sevamandir.org      8
10                http://www.gvtbharuch.org      7
11     http://www.savethechildrenindia.org/      7
12                    http://www.psmngo.org      7
13               http://www.sabujsangha.org      6
14                   http://www.dbveedu.org      6
15         http://www.ideafoundation.org.in      6
16                 http://www.wfwsociety.in      6
17              http://www.sugamjagriti.org      5
18                 http://www.awagindia.org      5
19                    http://www.wti.org.in      5
20                     http://voicetrust.in      5
21                 http://www.snehalaya.org      5
22                     http://www.goonj.org      5
23                  http://www.sukarya.org/      5
24                http://www.primetrust.org      5
25                   http://www.ruchika.org      4
26                http://www.newlifemfi.org      4
27              http://www.tigers4ever.org/      4
28        http://www.hopefoundation.org.in/      4
29                http://becsindia.webs.com      4
..                                      ...    ...
126             http://www.creatinghope.org      2
127                 http://www.vacha.org.in      2
128         http://www.rescuefoundation.net      2
129         https://www.indianorphanage.com      2
130             http://www.reachinghand.org      2
131              http://www.maitriindia.org      2
132  http://www.dharamsalaanimalrescue.org/      2
133         http://www.theypfoundation.org/      2
134         http://www.sproutenterprise.net      2
135    http://www.partnershipsforchange.org      2
136                http://www.aashwasan.org      2
137                  http://www.ties.org.in      2
138              http://www.greenashram.org      2
139         http://www.divyajyothitrust.org      2
140                http://www.cgagricon.org      2
141                       http://shivia.com      2
142            http://www.literacyindia.org      2
143          http://uwcmahindracollege.org/      2
144                 http://www.amarseva.org      2
145              http://www.ambaforlife.org      2
146             http://www.budsofchrist.org      2
147              http://www.kalanjiyam.org/      2
148             https://www.mitrajyothi.org      2
149           https://www.iwcwtministry.org      2
150                  http://www.sukrupa.org      2
151           http://www.karuna-shechen.org      2
152                     http://www.nbjk.org      2
153                http://www.mobmandya.org      2
154           http://www.sahaarasociety.org      2
155       http://www.learninglinksindia.org      2

[156 rows x 2 columns]

### Facebook

In [60]:
col = df['Facebook']
# Number of empty strings/missing values
print("Invalid:", sum(col == " ") + sum(col.isnull()))

print("No. of unique values:", len(col.unique()))

# Check for duplicates
counter = dict(Counter(col))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
print("No. of Duplicates:", len(duplicates))

table = pd.DataFrame.from_dict(duplicates)
table = table.melt(var_name="Duplicate NGO Names", value_name="Count").sort_values(by=["Count"], ascending=False).reset_index(drop=True)
table

Invalid: 205
No. of unique values: 252
No. of Duplicates: 115

                                   Duplicate NGO Names  Count
0                                                  NaN    205
1          https://www.facebook.com/arumugam.shenbagam     12
2    https://www.facebook.com/INDIAN.ASSOCIATION.FO...     12
3    https://www.facebook.com/Balajothi-Center-for-...     11
4                   https://www.facebook.com/rsksindia      9
5                  https://www.facebook.com/karuna.org      9
6    https://www.facebook.com/Globalgiving,globalgi...      8
7                  https://www.facebook.com/sevamandir      8
8       https://www.facebook.com/savethechildrenindia/      7
9    https://www.facebook.com/SabujSangha.NGO?ref=t...      6
10                  https://www.facebook.com/snehalaya      5
11                https://www.facebook.com/SukaryaNGO/      5
12               https://www.facebook.com/voice.trust/      5
13                  https://www.facebook.com/awagindia      5
14      https://www.facebook.com/Primetrust.Puducherry      5
15           https://www.facebook.com/Tigers4Ever.org/      4
16              https://www.facebook.com/IndiaPartners      4
17           https://www.facebook.com/haripada.giri.58      4
18                https://www.facebook.com/sphoortiorg      4
19                https://www.facebook.com/tiljalashed      4
20               https://www.facebook.com/jivdayatrust      4
21            https://www.facebook.com/Responsenet.org      4
22        https://www.facebook.com/Agastya.Foundation/      4
23   https://www.facebook.com/pages/New-Life/175088...      4
24                   https://www.facebook.com/cryindia      4
25                     https://www.facebook.com/purkal      3
26            https://www.facebook.com/udhavumullangal      3
27   https://www.facebook.com/pages/VIDYA-Vidya-Int...      3
28              https://www.facebook.com/bbh.community      3
29          https://www.facebook.com/VitalForChildren/      3
..                                                 ...    ...
85            https://www.facebook.com/theypfoundation      2
86              https://www.facebook.com/creaworld.org      2
87            https://www.facebook.com/DesaiFoundation      2
88                https://www.facebook.com/@ShopSprout      2
89            https://www.facebook.com/sahaara.society      2
90                https://www.facebook.com/goforefront      2
91                  https://www.facebook.com/mandyaMOB      2
92                    https://www.facebook.com/Manavya      2
93   https://www.facebook.com/Sri-Arunodayam-Charit...      2
94             https://www.facebook.com/Karuna-Shechen      2
95           https://www.facebook.com/sukrupaOfficial/      2
96          https://www.facebook.com/warrierfoundation      2
97        https://www.facebook.com/onebillionliterates      2
98                   https://www.facebook.com/DBMIndia      2
99             https://www.facebook.com/IWCWT.Ministry      2
100           https://www.facebook.com/MitraJyothiorg/      2
101          https://www.facebook.com/LetsBreakthrough      2
102      https://www.facebook.com/ambaforlife/?fref=ts      2
103      https://www.facebook.com/AashwasanFoundation/      2
104  https://www.facebook.com/pages/Amar-Seva-Sanga...      2
105        https://www.facebook.com/uwcmahindracollege      2
106                    https://www.facebook.com/Shivia      2
107                https://www.facebook.com/cgagricon/      2
108  https://www.facebook.com/divyajyothicharitable...      2
109                  https://www.facebook.com/ties.ktm      2
110  https://www.facebook.com/CreatingHopeInternati...      2
111    https://www.facebook.com/Saath Charitable Trust      2
112     https://www.facebook.com/partnershipsforchange      2
113  https://www.facebook.com/RescueFoundationIndia...      2
114                 https://www.facebook.com/0607hpuri      2

[115 rows x 2 columns]

### Twitter

In [61]:
col = df['Twitter']
# Number of empty strings/missing values
print("Invalid:", sum(col == " ") + sum(col.isnull()))

print("No. of unique values:", len(col.unique()))

# Check for duplicates
counter = dict(Counter(col))
duplicates = { key:[value] for key, value in counter.items() if value > 1}
print("No. of Duplicates:", len(duplicates))

table = pd.DataFrame.from_dict(duplicates)
table = table.melt(var_name="Duplicate NGO Names", value_name="Count").sort_values(by=["Count"], ascending=False).reset_index(drop=True)
table

Invalid: 373
No. of unique values: 172
No. of Duplicates: 78

                                  Duplicate NGO Names  Count
0                                                 NaN    373
1                  https://twitter.com/rosifoundation     12
2                       https://twitter.com/RSKSINDIA      9
3                      https://twitter.com/sevamandir      8
4                     https://twitter.com/STCI_Mumbai      7
5                    https://twitter.com/SabujSangha1      6
6                      https://twitter.com/sukaryango      5
7                     https://twitter.com/VOICETrichy      5
8                     https://twitter.com/trust_prime      5
9                       https://twitter.com/Snehalaya      5
10                  https://twitter.com/AgastyaSparks      4
11                    https://twitter.com/TiljalaSHED      4
12                       https://twitter.com/cryindia      4
13         https://twitter.com/http://wwwHARIPADAGIRI      4
14                    https://twitter.com/sphoortiorg      4
15                  https://twitter.com/responsenetds      4
16                  https://twitter.com/IndiaPartners      4
17                https://twitter.com/Tigers4Ever2010      4
18                 https://twitter.com/nishaabhilasha      3
19                     https://twitter.com/V4Children      3
20                   https://twitter.com/OpSmileIndia      3
21                    https://twitter.com/Vidya_India      3
22                    https://twitter.com/vidyaposhak      3
23                           https://twitter.com/pyds      3
24                   https://twitter.com/MannDeshiOrg      3
25                  https://twitter.com/theprideindia      3
26    https://twitter.com/El Shaddai Charitable Trust      3
27                  https://twitter.com/teachforindia      3
28                  https://twitter.com/CSAOrphanCare      3
29                    https://twitter.com/uandi_tweet      3
..                                                ...    ...
48                   https://twitter.com/vasavyammngo      2
49                     https://twitter.com/Maitri NGO      2
50                  https://twitter.com/AnnFoundation      2
51                 https://twitter.com/indiahopehouse      2
52                https://twitter.com/TamaharTrust200      2
53              https://twitter.com/Auroville Funding      2
54              https://twitter.com/Rescue Foundation      2
55                https://twitter.com/kishanganjazad1      2
56                      https://twitter.com/DBMission      2
57                   https://twitter.com/OfficialCREA      2
58                https://twitter.com/DesaiFoundation      2
59                     https://twitter.com/ShopSprout      2
60                    https://twitter.com/goforefront      2
61                  https://twitter.com/KarunaShechen      2
62  https://twitter.com/http://www.twitter,com/Suk...      2
63                 https://twitter.com/oblf_bangalore      2
64                 https://twitter.com/sri_arunodayam      2
65                      https://twitter.com/IWCWT_NGO      2
66                    https://twitter.com/mitrajyothi      2
67                     https://twitter.com/Seva_Child      2
68                   https://twitter.com/Breakthrough      2
69                       https://twitter.com/amarseva      2
70                         https://twitter.com/muwci/      2
71                   https://twitter.com/shiviatweets      2
72                  https://twitter.com/agriconsamiti      2
73                        https://twitter.com/tiesktm      2
74                https://twitter.com/creatinghopeint      2
75                      https://twitter.com/PFCtweet1      2
76                https://twitter.com/theypfoundation      2
77  https://twitter.com/HARAPRIYA CHARITABLE HOSPITAL      2

[78 rows x 2 columns]